.gridBackground{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100% - .5rem);
    width: 100%;
}
.gridFilters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 1rem);
}
.gridFilterSection{
    display:flex;
    width: 100%;
    height: 2rem;
}
.typesSelection{
    width: 80%;
}

.filterOption{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    margin: .1rem 0;
    cursor: pointer;
    background: rgba(255, 255,255, 0.5);
    border: 1px solid white;
    border-radius: .2rem;
    padding: 0 .2rem;
    color: white
}
.baseList{
    position: absolute;
    flex-direction: column;
    background: rgba(255, 255, 255, .8);
    margin-left: 7rem;
    margin-top: 2rem;
    color: black;
    padding: .2rem;
    border: 1px solid white;
    border-radius: .5rem;
    z-index: 2;
}
.baseOption{
    cursor: pointer;
    padding: .2rem;
}
.baseOption:hover{
    border-radius: .3rem;
    background: silver;
}
.pageSizeSettings{
    display: flex;
    flex-direction: row;
}
.sizeButton{
    display: flex;
    justify-content: center;
    width: 1.5rem;
    margin: .1rem .3rem;
    cursor: pointer;
    background: rgba(255, 255,255, 0.5);
    border: 1px solid white;
    border-radius: .2rem;
    padding: 0 .2rem;
    color: white
}
.itemsByPage{
    width: 2rem;
    text-align: center;
}
.subtitle{
    display: flex;
    margin: 0 .2rem;
    font-weight: bold;
    align-items: center;
}
.gridDiv{
    border-radius: 1rem;
    box-shadow: 0 0 20px silver;
    width: 100%;
    height: calc(100% - 7.5rem);
    margin: .5rem 0
}
.pokemonGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
*::-webkit-scrollbar{
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical{
    width: .5rem;
}
*::-webkit-scrollbar:horizontal{
    height: .5rem;
}
*::-webkit-scrollbar-thumb{
    background: rgba(150,150,150,.5) ;
    border-radius: 20px;
}
*::-webkit-scrollbar-track{
    border-radius: .5rem;  
}
.gridPages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc( 100% - 1rem);
    height: 2rem;
    overflow-x: auto ;
    overflow-y: hidden;
}
.pageButton{
    display: flex;
    background: whitesmoke;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 .2rem;
    padding: .1rem;
    box-shadow: 2px 2px 2px grey;
    color: black;
    text-align: center;
    cursor: pointer;
    min-width: 1.5rem;
}
.currentPage{
    background: red;
    color: whitesmoke;
    font-weight: bold;
}
.edges{
    background-color: darkred;
    color: whitesmoke;
    font-weight: bold;
}
.consecutive{
    color: darkred;
    background-color: whitesmoke;
    font-weight: bold;
}
.notPage{
    color: silver;
    background:none;
}
.goToPage:active{
    transform: scale(.95);
    box-shadow: 1px 1px 1px grey;
}
@media(max-width: 768px){
    .gridFilters{
        justify-content: center;
    }
    .pageButton{
        margin-top: 2px;
        font-size: .8rem;
        min-width: 1rem;
    }
    .gridDiv{
    }
    .pokemonGrid{
        border-width: 2px;
        width: 100%;
    }
    .gridFilters{
        flex-direction: column;
        align-items: center;
    }
    .sizeButton{
        width: 1rem;
    }
    .itemsByPage{
        width: 1rem;
    }
    .pokedexBackground{
        font-size: .9rem;
    }
    .pageWord{
        display: none;
    }
}