.gridBackground{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100% - .5rem);
    width: 100%;
}
.gridFilters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 1rem);
}
.gridFilterSection{
    display:flex;
    width: 100%;
    /* height: 2rem; */
}
.typesSelection{
    width: 80%;
}

.filterOption{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 9rem;
    margin: .1rem 0.3rem;
    cursor: pointer;
    background: rgba(255, 255,255, 0.5);
    border: 1px solid white;
    border-radius: .2rem;
    padding: 0 .2rem;
    color: white
}
.baseList{
    position: absolute;
    flex-direction: column;
    background: rgba(255, 255, 255, .8);
    margin-left: 7rem;
    margin-top: 2rem;
    color: black;
    padding: .2rem;
    border: 1px solid white;
    border-radius: .5rem;
    z-index: 2;
}
.baseOption{
    cursor: pointer;
    padding: .2rem;
}
.baseOption:hover{
    border-radius: .3rem;
    background: silver;
}
.pageSizeSettings{
    display: flex;
    flex-direction: row;
}
.sizeButton{
    display: flex;
    justify-content: center;
    width: 1.5rem;
    margin: .1rem .3rem;
    cursor: pointer;
    background: rgba(255, 255,255, 0.5);
    border: 1px solid white;
    border-radius: .2rem;
    padding: 0 .2rem;
    color: white
}
.itemsByPage{
    width: 2rem;
    text-align: center;
}
.subtitle{
    display: flex;
    margin: 0 .2rem;
    font-weight: bold;
    align-items: center;
}
.gridDiv{
    border-radius: 1rem;
    box-shadow: 0 0 20px silver;
    width: 100%;
    height: calc(100% - 7.5rem);
    margin: .5rem 0
}
.waitingBackground{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border-color: ; */
    font-size: 3rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background: radial-gradient(whitesmoke, rgba(255,255,255,0.3));
    border-radius: 1rem;
}
.waitingImg{
    height: 80%;
    margin-bottom: -5rem;
}
.pokemonGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
*::-webkit-scrollbar{
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical{
    width: .5rem;
}
*::-webkit-scrollbar:horizontal{
    height: .5rem;
}
*::-webkit-scrollbar-thumb{
    background: rgba(150,150,150,.5) ;
    border-radius: 20px;
}
*::-webkit-scrollbar-track{
    border-radius: .5rem;  
}

@media(max-width: 768px){
    .gridFilters{
        justify-content: center;
    }
    .pokemonGrid{
        border-width: 2px;
        width: 100%;
    }
    .gridFilterSection{
        flex-wrap: wrap;
    }
    .gridFilters{
        flex-direction: column;
        align-items: center;
    }
    .sizeButton{
        width: 1rem;
    }
    .itemsByPage{
        width: 1rem;
    }
    .pokedexBackground{
        font-size: .9rem;
    }
}