.typeSelectBackground{
    display:flex;
    width: 100%;
}
.typeSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1rem .3rem;
    cursor: pointer;
    background: rgba(255, 255,255, 0.5);
    border: 1px solid white;
    border-radius: .2rem;
    padding: 0 .2rem;
    height: fit-content;
}
.selectedTypesList{
    display: flex;
    flex-wrap: wrap;
    max-height: 2rem;
    overflow-y: auto;
}
.typeList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.typeMenu{
    position: absolute;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: .5rem;
    width: 20rem;
    margin-left: -10%;
    margin-top: 2rem;
    padding: .5rem;
    box-shadow: 0 0 2rem grey ;
    z-index: 2;
}
.typeItem{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}
.typeCheck{
    height: 1rem;
    width: 1rem;
    cursor:pointer
}
.typeOK{
    width: 5rem;
    background-color: dodgerblue;
    margin: .1rem .3rem;
    cursor: pointer;
    margin: .5rem;
    color: white;
    padding: .2rem;
    border-radius: .5rem;
}
@media(max-width: 768px){
    .typeMenu{
        width: 95%;
        left: 0;
        right: 0;
        margin: auto
    }
    .typeSelect{
        font-size: .6rem;
        text-align: center;
        width: 4rem;
    }
}