.footerBackground{
    width: 100%;
    display:flex;
    background: linear-gradient(red, darkred);
    border-top: 3px solid black;
    bottom: 0;
    height: 2.6rem;
    justify-content: center;
    color: whitesmoke;
}
.footerLink{
    color: whitesmoke;
    margin-left: .3rem
}
.footerLink:active{
    background: red;
}
