.gridPages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc( 100% - 1rem);
    height: 2rem;
    overflow-x: auto ;
    overflow-y: hidden;
}
.pageButton{
    display: flex;
    background: whitesmoke;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 .2rem;
    padding: .1rem;
    box-shadow: 2px 2px 2px grey;
    color: black;
    text-align: center;
    cursor: pointer;
    min-width: 1.5rem;
}
.currentPage{
    background: red;
    color: whitesmoke;
    font-weight: bold;
}
.edges{
    background-color: darkred;
    color: whitesmoke;
    font-weight: bold;
}
.consecutive{
    color: darkred;
    background-color: whitesmoke;
    font-weight: bold;
}
.notPage{
    color: silver;
    background:none;
}
.goToPage:active{
    transform: scale(.95);
    box-shadow: 1px 1px 1px grey;
}
@media(max-width: 768px){
    .pageButton{
        margin-top: 2px;
        font-size: .8rem;
        min-width: 1rem;
    }
    .pageWord{
        display: none;
    }
}